body{
  background-color: grey;
}

.container{
  
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
}




@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}